<div data-hook="admin_newsletter_subscriber_form_fields">
  <table data-hook="email">
    <tr>
      <td><%= t(:email) %>:</td>
      <td><%= f.text_field :email, {'style' => 'width:200px'} %></td>
    </tr>
  </table>
</div>
